@CHARSET "UTF-8";
.tickercontainer { /* the outer div with the black border */
  width: 338px; 
  height: 27px; 
  margin: 0; 
  padding: 0
  overflow: hidden; 
}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
  position: relative;
  left: 10px;
  top: 8px;
  width: 150px; /* change this to the size of your ticker */
  overflow: hidden;
}

ul.newsticker { /* that's your list */
  position: relative;
  left: 350px;
  font: bold 10px Verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.newsticker li {
  float: left; /* important: display inline gives incorrect results when you check for elem's width */
}
